body {
  margin: 0;
}

.container {
  display: flex;

}


#overlay {
  position: absolute;
  background-color: rgba(55, 55, 55, 0.8);
  color: white;
  padding: 5px;
  border-radius: 4px;
  left: 0;
  top: 0;
  transform: translateX(-50%);
}
.hidden {
  visibility: hidden;
}

.dictionary{
  display: flex;
  justify-content: center; 
  align-items: center; 
}